@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}


<style>
    .container {
        padding: 4rem;
        margin: 4rem;
          
       
    }

    #publicTalk {
        background-color: #808080;
        border: thick solid #FFFFFF;
    }

    #groupConversation {
        background-color: #808080;
        border: thick solid #808080;
    }
</style>
<script src="~/js/Chat.js"></script>
<div id="publicTalk" class="container">
    <input type="text" id="messageInp" />
    <input type="submit" id="sendMessageBtn" value="Send" />
    <ul id="conversation">
    </ul>
</div>
<div id="groupConversation" class="container">
    <div>
        <input type="text" id="groupNameInp" />
        <input type="submit" id="joinGroupBtn" value="Join" />
    </div>
    <br />
    <div>
        <input type="text" id="messageToGroupInp" />
        <input type="submit" id="sendMessageToGroupBtn" value="Send To Group" />
    </div>
    <ul id="groupConversationUL">
    </ul>
</div>

